<form >
  <h2>Playlist Musicas</h2>

  <input type="text" disabled [(ngModel)]="id" name="id">

  <input type="text" [(ngModel)]="title" name="title" placeholder="title">

  <input type="text" [(ngModel)]="description" name="description" placeholder="description">

  <input type="text" [(ngModel)]="image" name="image" placeholder="image">

  <input type="text" [(ngModel)]="url" name="url" placeholder="url">
  <button (click)="buttonClick()">
    {{ id ? 'Editar' : 'Cadastrar' }}
  </button>
</form>
<table  >

  <tbody>
    <tr *ngFor="let musica of musicas$ | async">
      <td>{{ musica.id }}</td>
      <td><a href="{{ musica.url }}"><img width="555px" src="{{ musica.image }}" alt="image"></a></td>
      <td><p>{{ musica.title }}</p></td>
      <td>{{ musica.description }}</td>
      <td><button (click)="preencherCampos(musica)">Alterar</button></td>
      <td><button (click)="remover(musica.id!)">Apagar</button></td>
    </tr>
  </tbody>
</table>
